snippet polymer
<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="$1">
    <template>
    </template>

    <script>
        Polymer({
            is: "$1",

			properties: {},
			listeners: {},
			observers: [],

            created: function() {},
            ready: function() {},
            attached: function() {},
            detached: function() {}
        });
    </script>
</dom-module>
endsnippet
