snippet time
console.time('$1');
$2
console.timeEnd('$1');
endsnippet

snippet group
console.group('$1');
$2
console.groupEnd('$1');
endsnippet

snippet log
console.log('$1');
endsnippet

snippet LOG
console.log('%c$1', 'font-size:15px');
endsnippet
