# ┌───────────────────────────┐
# │ re-implement vim-closetag │
# └───────────────────────────┘
# snippet '(<(\w+)[^>]*>)' "Close tag" wrA
# `!p snip.rv = match.group(1)`$1</`!p snip.rv = match.group(2)`>$0
# endsnippet
# snippet '(<(\w+)[^>]*>)>' "New line after tag" wrA
# `!p snip.rv = match.group(1)`
# 	$0
#
# endsnippet
