snippet '(\s*" )box' "Box" rb
`!p snip.rv = match.group(1)``!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
`!p snip.rv = match.group(1)`│ $1 │
`!p snip.rv = match.group(1)``!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
endsnippet
# https://castel.dev/post/lecture-notes-1/
